@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------- */

.categories-main .cat:hover {
    cursor: pointer;
}

.categories-main #title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 5.5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}

.categories-main .description {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    text-align: left;
    padding: 8.3rem 0;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
}

.categories-main .cat {
    height: 38vh;
}

.categories-main .cat1 {
    display: flex;
    justify-content: space-between;
    transition: all ease .3s;
}

.categories-main .cat1 .left-box {
    width: 55%;
}

.categories-main .cat1 .upper-box {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 4rem;
    text-align: left;
    padding: 1.5rem;
    transition: all ease .3s;
}

.categories-main .cat1 .bottom-box {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem 2rem 0;
    font-weight: 600;
}

.categories-main .cat1 .right-box {
    width: 45%;
    background-repeat: no-repeat;
    background-position: -40rem center;
    background-size: 90rem;
}

.categories-main .academica .right-box {
    background-image: url('https://s3-alpha-sig.figma.com/img/7783/9e96/2831eff8f549e43cf24c94ec7b842cd2?Expires=1682899200&Signature=GJf1ZiD~lBKs7~yjO8TK6B8~5aPKA076iCLjAaGZt~0lMGIgMUGl58WdbLuIjzYn3zEvLOiT7t2gRXl2IJNpEk-wxovrYosdU8BRav3BgB0xsqsmNyczRPTpV5bBlQB5DIr4NIwkIK7S37XkWzYeH7qlvDdDTx-51XfDzaFHDJJ6Elhr-SMk6Zi~oqjnksf3iOLZiMh8Z0-9W~aag2wbRJn67yuGnDuyfKkqRzPiqeXueTFr4Sxrjhvv-tXCwFTWYrULP08FOhw2j5Vaxv-FozysRJNdFZg0l93Ub022K81D13v2FVMQqilDPwlm63RG7sOrUgOFVJ0dgWf2aQP~zQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
}


.categories-main .cat2 {
    display: flex;
    justify-content: space-between;
    transition: all ease .3s;
}

.categories-main .cat2 .right-box {
    width: 55%;
    display: flex;
    flex-direction: column;

}

.categories-main .cat2 .left-box {
    width: 45%;
}

.categories-main .cat2 .upper-box {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 4rem;
    text-align: right;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: all ease .3s;
}

.categories-main .cat2 .bottom-box {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem 2rem 0;
    font-weight: 600;
    width: 100%;
}

.categories-main .intermedio .left-box {
    background-image: url('https://s3-alpha-sig.figma.com/img/ba49/f48a/8d7915396b78ca41b2cce573fc552791?Expires=1682899200&Signature=VCDHTIpYSD1GJ10G-o3nYqgQnziUgIt2PdalwXA4rOJdeXJax2BoXt8dhLZXqpRNOQct~k9tmHBVRF2HlCEoM5XgxClAYDIEJZjiWYmXXhqvFo8SiW0bKu66nJFbsMowgTSTuSdm83nZhL4Vtmj3n~IQ3uzk8qlKY-j2lV~xs2xA8c-9I4Hqv8-4yXJVs7QNqWEQTaJmPahPLiKPhr3ktzz5mGP2GYnyjwFKS2q2CNswbSuteqPy7C3DUMCN4d6p9U6Ebk6LDRhCIVc9DBXlpfJUGavtrzQFJSJ~7tepAHugp6270JVjT2CchSwwKuCV84y1WtAXWeszH9B~39TrVA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');    
    height: 100%;
}

.categories-main .cat2 .left-box {
    width: 45%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80rem;
}

.categories-main .avanzado .bottom-box {
    text-align: start;
    justify-content: flex-start;
    padding: 0 0 2rem 2rem;
}

.categories-main .avanzado .right-box {
    background-image: url('https://s3-alpha-sig.figma.com/img/7d05/4fbb/06d0234eceaf2cf7ba97734f0d3e0fe0?Expires=1682899200&Signature=ZZMpQrRMbVzXiuQcOljpe800eRNBqCELGiJ4uONyIURjrX4mH37fLa8Rv8B3hJSndOQkl39DmRPqdlkf0rJ6oMaGY9UBjkWeyxoL1pOmt84JMQNmQWJ2WPQVWNjj2XNyTWoedmcZ3h1IMQqKXoFMhkZizNDJQpFy1ofLu5IhKoECi4OqdTDxp6WYdY-lzxvDLn-o15jQZchbHqGQIuaxDYlPTHJt5SF-4mAPvWP3a8oQ5sQiQbGRPIayfFRyiIyHLWtrbFRZyaoWSKnxzX37PwD-20eNXqbmcb7S~-dddLwJ9Dha9vFf6e--cXPQVfdavZBB4xy45QPE-WW~ISnnwQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
}

.categories-main .avanzado .right-box {
    width: 45%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50rem;
}

.categories-main .activa .top {
    color: white;
    transition: all ease .3s;
}

.categories-main .activa .bottom {
    color: #614600;
    transition: all ease .3s;
}

.categories-main .activa {
    background-color: #FFC122;
    transition: all ease .3s;
}

@media screen and (max-width: 768px) {
    .categories-main #title {
        font-size: 1.5rem;
    }

    .categories-main .description {
        display: flex;
        justify-content: space-around;
        background-color: black;
        color: white;
        text-align: left;
        padding: 4rem 0;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: .8rem;
    }

    .categories-main .cat .upper-box{
        font-size: 1.5rem;
    }

    .categories-main .cat1 .bottom-box {
        display: flex;
        justify-content: flex-start;
        padding-left: 1.5rem;
        font-weight: 600;
    }

    .categories-main .cat1 .left-box {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}